<!DOCTYPE html>
<html>
<head>
  <title><%= siteTitle %> -- <%= pageTitle %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Stylesheets go here. -->
  <script src="https://use.fontawesome.com/bfd4e076b7.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body id='<%= pageID %>'>

  <section class='container'>
    <div class="content row">
      <div class="main col col-lg-8">
        <h2>Main Content - <%= pageTitle %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
      </div><!-- main -->
      <div class="sidebar col col-lg-4">
        <h2>Sidebar Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
      </div><!-- sidebar -->
    </div><!-- content -->
  </section><!-- container -->

  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script src='/reload/reload.js'></script>
</body>
</html>
