<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body id='<%= pageID %>'>
  <section class='container'>
    <div class="content row">
      <% include partials/content/header.ejs %>
      <% include partials/content/snippet-carousel.ejs %>
      <div class="main col col-lg-8">
        <% include partials/content/article-intro.ejs %>
        <% include partials/content/article-abouttheartists.ejs %>
        <% include partials/content/article-aboutthevenue.ejs %>
      </div><!-- main -->
      <div class="sidebar col col-lg-4">
        <% include partials/content/aside-register.ejs %>
      </div><!-- sidebar -->
    </div><!-- content -->
    <% include partials/content/footer.ejs %>
  </section><!-- container -->
  <!-- Scripts go here. -->
<% include partials/template/jsdefaults.ejs %>
</body>
</html>
