<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body id='<%= pageID %>'>

  <section class='container'>
    <div class="content row">
      <div class="main col col-lg-8">
        <% include partials/content/header.ejs %>
      </div><!-- main -->
      <div class="sidebar col col-lg-4">
        <h2>Sidebar Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iure distinctio illum totam porro, molestias incidunt quos, impedit quam culpa sapiente nihil officiis ad praesentium similique nesciunt obcaecati animi corrupti.</p>
      </div><!-- sidebar -->
    </div><!-- content -->
  </section><!-- container -->

  <!-- Scripts go here. -->
  <script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  <script src='/reload/reload.js'></script>
</body>
</html>
